@import "../../palette";

.TestComponent__wrapper {
    align-content: center;
    text-align: center;
    margin: 0 auto;
    .Timer__wrapper{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 300px;
        display: inline-block;

    }
    .TestComponent__timer{
        cursor: pointer;
        padding: 20px;
    }
}
