@import "../../palette";

.TestComponent__wrapper {
    align-content: center;
    text-align: center;
    margin: 0 auto;
    .Timer__wrapper{
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 300px;
        height: 300px;
        display: inline-block;

    }
    .TestComponent__timer{
        cursor: pointer;
        padding: 20px;
    }
    .TestComponent__timer-ripple{
        animation: effect_dylan 0.6s ease-out;
        animation-fill-mode: forwards;

    }
    @keyframes effect_dylan {
        50% {
            transform: scale(1.5, 1.5);
            opacity: 0;
        }
        99% {
            transform: scale(0.001, 0.001);
            opacity: 0;
        }
        100% {
            transform: scale(0.001, 0.001);
            opacity: 1;
        }
    }
}
